* {
    box-sizing: border-box
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
}

.banner{
    display:flex;
    background-color: #5165db;
    align-items: center;
    padding: 2%;
}

.k-letter {
    font-family: 'Great Vibes', cursive;
    font-size: 3rem;
    margin: 0;
    padding: 0;
    color: rgb(65, 20, 20)
}
.line {
    position: absolute;
    margin: 8% 0 0 0;
    width: calc(100% - 20%);
    height: 7px;

}
.head-shot {
    position: absolute;
    border-radius: 50%;
    width: 8%; 
    opacity: .8;
    margin-left: 78%;
}

.details {
    background-image: linear-gradient( rgba(255, 166, 0, 0.932) 50%, gray);  
    border-top: 5px solid #5165db;
    padding-bottom: 2rem;
}
.main-pic {
    position: relative;
    background: url("desktop2.jpg") 0 0 / cover no-repeat;
    width: 100%;
    max-width: 100%;
    height: 40vh; 
}

.personal-info {
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 27%;
    text-align: center;
    line-height: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 700;
    word-spacing: .25rem;
    color: rgb(65, 20, 20);
    text-shadow: 2px 2px 2px gray;
}

#last-name {
    text-transform: uppercase;
    font-size: 4rem;
    font-family: 'Lateef', cursive;
}

/* .my-email::after {
  display: block;
  content: "\21E9"; 
  font-size: 3rem;
  margin-top: 15%;
} */

.objective {
    position: absolute;
    hyphens: auto;
    color: rgb(65, 20, 20);
    margin: 0 auto;
    padding: 0 5%;
    line-height: 1.5rem;
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

button {
    display: block;
    background-color: #5165db;
    margin: 25% auto 0;
    border-radius: 10px 10px;
    background: linear-gradient(#5165db, transparent);
    color: rgb(65, 20, 20);
    font-weight: bold;
    font-size: 1.5rem;
    padding: 10px;
}

ul {
    margin-left: 0;
    margin-top: 10%;
    list-style: none;
    padding-left: 5%;
}
li {
    padding: 2% 0;
}
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    width: 100%;
    margin-left: 2%;
    /* color: #EDD8A8;   */
    color: #5165db;
}

a:hover {
    color: white;
}

.third-section {
    /* position: absolute; */
    display: none;
    top: 0;
    

}

footer {
    background-color:rgba(133, 128, 121, 0.445);
    margin: 0;
    padding: 0;
    text-align: center;
}

footer a {
    font-size: 1rem;
    margin-left: 0;
    width: 100%;
}

footer ul {
    padding: 0;
    margin-top: 0;
}

#copyright {
    color: #5165db;
    font-size: .75rem;
    padding: 0 0 2%;
    margin: 0 auto;
}
/* media */

@media screen and (orientation: landscape) {
    .line {
        margin: 4% 0 0 0;
    }
}

/* Media queries for portrait orientation smartphone size devices wider than 414px and less than 700px */
@media screen and (orientation: portrait) and (min-width: 414px) and (max-width: 700px) {
    
    ul {
        padding: 0;
        text-align: center;
    }

    li {
        display: inline-block; 
        margin-right: 2%;
    }

    footer li {
        margin-right: 7%;
    }

    footer li:last-of-type {
        margin-right: 0;
    }

    .banner {
        position: relative;
    }
    .head-shot {
        position: absolute;
        margin-left: 0;
        width: 5rem;
        right: 3%;
    }

    .banner {
        padding: 1rem 0 1rem;
    }
    .line {
        position: absolute;
        margin: 3.5rem 0 0 0;
        width: calc(100% - 7rem);
        height: 7px;
    }
    .button {
        margin-top: 12%;
    }
}


/* Media query for landscape position of smartphone size devices */
@media screen and (orientation: landscape) and (min-width: 550px) { /* and (min-width: 635px) { */

    .personal-info {
        margin-top: 7%;
    }

    .objective {
        width: 100%;
    }
    ul {
        padding-bottom: 0;
        margin-bottom: 0;
    }
     footer li {
         display: inline-block;
        margin-right: 7%;
    }

    footer li:last-of-type {
        margin-right: 0;
    }
     .first-section {
        display: flex;
        align-items: center;
    }
} 

@media screen and (orientation: portrait) and (min-height: 350px) and (min-width: 620px) {
    .personal-info {
        top: 25%;
    }

    .my-email::after {
        margin-top: 1.5rem;
    }

    .banner {
        position: relative;
    }

    .head-shot {
        position: absolute;
        margin-left: 0;
        width: 5rem;
        right: 3%;
    }
}

@media screen and (orientation: landscape) and (min-width: 725px) and (min-height: 409px) {
    .my-email::after {
        margin-top: 0;
        padding-top: 0;
        font-size: 3rem;
    }
    .line {
        position: absolute;
        margin: 4% 0 0 0;
        width: calc(100% - 20%);
        height: 7px;
    }
    button {
        margin: 11% auto 3rem;
    }
    .second-background li {
        display: inline-block;
    }
    .second-background ul {
        padding: 0;
        text-align: center;
    }
    footer li {
        display: inline-block;
        margin-right: 7%;
    }

    footer li:last-of-type {
        margin-right: 0;
    }
    .second-background ul {
        margin-top: 0;
    }
}

/* Iphone 5/ SE */ 
@media screen and (orientation: landscape) and (width: 568px) and (height: 320px) {
    .personal-info {
        margin-top: 5%;
    }
    .my-email::after {
        display: none;
    }
}

@media screen and (orientation:landscape) and (min-width: 800px) and (min-height: 360px) {
    button {
        margin: 12% auto 0;
    }
    li {
        display: inline-block;
    }
    .second-background ul {
        padding: 0;
        text-align: center;
        margin-top: 0;
    }

    .line {
        position: absolute;
        margin: 4% 0 0 0;
        width: calc(100% - 20%);
        height: 7px;
    }
 
    p.objective {
        top: 0;
        bottom: 0;
        margin-top: 45%;
    }
    footer ul {
        margin: 0;
    }
    /* .third-section {
        display: none;
    } */
    /* .grid-container {
        height: 100vh;
    }     */
}
@media screen and (min-width: 550px) and (min-height: 300px) {
    /* button {
        margin-top: 0;
    } */
    .my-email::after {
        display: none;
    }
    /* .personal-info {
        top: 0;
        margin-top: 12rem;
    } */
    .second-background li {
        display: inline-block;
        text-align: center;
    }
    .second-background ul {
        text-align: center;
        margin-top: 1rem;
    }
    a.button {
        margin-top: 4%;
    }
}

/* Media query for devices larger than 600px wide - Tablet Size */

@media screen and (orientation: landscape) and (min-width: 639px) and (min-height: 500px)  {
    .banner{
        background-color: #5165db;
        /* align-items: center; */
        padding: 25px;
    }

    .k-letter {
        font-family: 'Great Vibes', cursive;
        font-size: 3rem;
        margin: 0;
        padding: 0;
        color: rgb(65, 20, 20)
    }
    .line {
        position: absolute;
        margin: 3% 0 0 0;
        width: calc(100% - 20%);
        height: 7px;

    }
    .head-shot {
        position: absolute;
        border-radius: 50%;
        opacity: .8;
        margin-left: 85%;
    }

    .objective {
        top: 0;
        left: 0;
        right: 0;
        font-size: 1.25rem;
        width: 75%;
        margin-top: 43rem;
    }
  
    li {
        display: inline-block;
    }
 
    .second-background li {
        display: inline-block;
        margin-right: 7%;
    }

    .second-background li:last-of-type {
        margin-right: 0;
    }
    .second-background {
        padding-top: 3rem;
    }
    ul {
        text-align: center;
        margin-top: 0;
        margin-bottom: 4rem;
        padding-left: 0;
    }

    .personal-info {
        /* position: absolute;
        display: block; */
        width: 100%;
        max-width: 100%;
        /* margin: 7rem auto; */
        line-height: .8rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        word-spacing: .25rem;
        color: rgb(65, 20, 20);
        text-shadow: 2px 2px 2px gray;
        text-align: center; 
        padding-left: 16px; 
        padding-top: 9rem;      
    }
    #last-name {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'Lateef', cursive;
    }

    .my-email::after {
        display: none;
    }

    .head-shot {
        width: 10%;
    }
    footer ul {
       margin-bottom: 25px;
       margin-top: 0;
    }
    footer li {
        padding: 0;
        margin-top: 1rem;
    }
    button {
        margin-bottom: 2rem;
    }
    #copyright {
        padding-bottom: 1rem;
    }
}

/* Media query for screens wider than 1000px */

@media screen and (orientation: landscape) and (min-width: 1000px) and (min-height: 460px) and (max-height: 1030px) {
    .grid-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .details {
        border-top: none;
        height: 50vh;
    }
    .second-background ul {
        margin-top: 3rem;
        margin-bottom: 0;
    }
    .main-pic {
        height: 50vh;
    }
    .third-section {
        display: block;
        position: relative;
        background-color: white;;
        border-top: 2px solid rgb(65, 20, 20);
        border-bottom: 2px solid rgb(65, 20, 20);
        border-radius: 5px; 
        text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 2rem;
        /* padding-bottom: 2rem; */
        padding-top: 3rem; 
        width: 100%; 
        margin: 0 auto;
        

     }
    .objective-repeat {
        width: 80%;
        margin: 1rem auto 5rem;
        
    } 
    .objective {
        display: none;
    } 
    .personal-info {
        width: 50%;
        margin-top: -9%;
    }
    .my-email::after {
        display: none;
        content: "\21E9"; 
        font-size: 3rem;
        margin-top: 15%;
    }
    footer ul {
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    footer {
        padding-bottom: 0;
        padding-top: 2rem;
        margin: 0;
    }
    footer li {
        padding: 0 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    #copyright {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }
    button {
        margin-top: 0;
    }
    .head-shot {
        width: 5rem;
    }
    
}

@media screen and (orientation:portrait) and (min-width: 1020px) {
    .banner{
        background-color: #5165db;
        /* align-items: center; */
        padding: 25px;
    }

    .k-letter {
        font-family: 'Great Vibes', cursive;
        font-size: 3rem;
        margin: 0;
        padding: 0;
        color: rgb(65, 20, 20)
    }
    .line {
        position: absolute;
        margin: 4rem 0 0 0;
        width: calc(100% - 20%);
        height: 7px;

    }
    .head-shot {
        position: absolute;
        border-radius: 50%;
        opacity: .8;
        margin-left: 61%;
    }

    .objective {
        top: 0;
        left: 0;
        right: 0;
        font-size: 3rem;
        width: 90%;
        line-height: 3rem;
        margin: 90% auto;
    }
  
    li {
        display: inline-block;
    }
 
    .second-background li {
        display: inline-block;
        margin-right: 7%;
    }

    .second-background li:last-of-type {
        margin-right: 0;
    }
    .second-background {
        padding-top: 3rem;
    }

    .second-background a {
        font-size: 2.5rem;
    }
    ul {
        text-align: center;
        margin-top: 0;
        margin-bottom: 4rem;
        padding-left: 0;
    }

    .personal-info {
        position: absolute;
        display: block; 
        width: 100%;
        max-width: 100%;
        /* margin: 7rem auto; */
        line-height: .8rem;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.5rem;
        font-weight: 700;
        word-spacing: .25rem;
        color: rgb(65, 20, 20);
        text-shadow: 2px 2px 2px gray;
        text-align: center; 
        padding-left: 16px; 
        padding-top: 9rem;    
        margin-top: -15%; 
        bottom: 0; 
    }
    #last-name {
        text-transform: uppercase;
        font-size: 3rem;
        font-family: 'Lateef', cursive;
    }

    .my-email::after {
        display: none;
    }

    .head-shot {
        width: 10%;
    }
    footer ul {
       margin-bottom: 25px;
       margin-top: 0;
    }
    footer li {
        padding: 4%;
        margin-top: 1rem;
    }
    button {
        margin-bottom: 2rem;
    }
    #copyright {
        padding-bottom: 1rem;
    }
}