body {
    margin: 0px;
    padding: 0px;
    background-color: khaki;
}

h1 {
    font-size: 3rem;
    text-align: center;
}

h2 {
    text-align: center;
    line-height: .5rem;
}

main {
    width: 70%;
    margin: auto;
}

.objective, .employer {
    font-weight: bold;
}

.job-title {
    text-decoration: underline;
}

h2:last-of-type {
    margin-bottom: 6rem;
}