* {
    box-sizing: border-box
}

html {
    font-size: 1em;
}

body {
    margin: 0;
    padding: 0;
}

.second-background {
    position: relative;
    background-image: linear-gradient( #776C55, #776c5536);
    height: 60vh;   
    border-top: 5px solid #EDD8A8;
}

.head-shot {
    position: absolute;
    border-radius: 25px;
    top: 30px;
    width: 25%; 
    right: 7%;
    opacity: .6;
}

.main-pic {
    position: relative;
    background: url("desktop2.jpg") 0 0 / cover no-repeat;
    width: 100%;
    max-width: 100%;
    height: 50vh; 
}

.personal-info {
    z-index: 2;
    position: absolute;
    width: 100%;
    max-width: 100%;
    top: 14%;
    text-align: center;
    line-height: .8rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    word-spacing: .25rem;
    color: rgb(65, 20, 20);
}

#last-name {
    text-transform: uppercase;
    font-size: 2.5rem;
    font-family: 'Lateef', cursive;
}

.objective {
    position: absolute;
    hyphens: auto;
    color: rgb(65, 20, 20);
    margin: auto;
    padding: 26% 20px 25px 20px;
    line-height: 1.5rem;
    font-size: 1.25rem;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.nav {
    opacity: 0;
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
}

ul {
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
}

/* media */

@media screen and (min-width: 560px) {

    .second-background {
        height: 125vh;
    }
    .personal-info {
        font-size: 1.5rem;
        top: 30%;
    }
    #last-name{
        font-size: 3rem;
    }
    .objective {
        margin-top: 16%;
        padding: 0 15%;
        font-size: 1.5rem;
        line-height: 1.75rem;
        width: 100%;
        text-align: center;
    }
    .main-pic, .first-background {
        height: 75vh;
    }
    #last-name {
    font-size: 4.25rem;
    }
    .nav {
        display: block;
        text-align: left;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        opacity: 1;
    }
    .nav ul {
        list-style: none;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
    }
    li {
        display: inline-block;
        margin: 10% 3% 0;
    }
    a {
        text-decoration: none;
        font-weight: bold;
        font-size: 1.25rem;
        width: 100%;
        top: 20%;
        margin-left: 20%;
        color: #EDD8A8;  
    }
    
    .material-icons {
        margin-left: 45%;
    }
    .head-shot{
        width: 15%;
    }
}

@media screen and (min-width: 830px) {
    
}